apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: dumbkv-service-monitor
  labels:
    app.kubernetes.io/name: dumbkv
    app.kubernetes.io/instance: dumbkv-service-monitor
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/component: monitoring
    release: prometheus
spec:
  namespaceSelector:
    matchNames:
    - default
  selector:
    matchLabels:
      app.kubernetes.io/name: dumbkv
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
      honorLabels: true