name: Build image

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  REGISTRY: ghcr.io # Only used for labeling, if you want to push it make sure you have permissions to push.
  IMAGE_NAME: ${{ github.repository   }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build main service Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          target: dumbkv-main
          push: true
          cache-from: type=local,src=/tmp/dumbkv-docker-cache
          cache-to: type=local,dest=/tmp/dumbkv-docker-cache-temp,mode=max
          tags: |
            ghcr.io/${{ github.repository }}:main
            ghcr.io/${{ github.repository }}:main-${{ github.sha }}

      - name: Move cache
        run: |
          rm -rf /tmp/dumbkv-docker-cache
          mv /tmp/dumbkv-docker-cache-temp /tmp/dumbkv-docker-cache
