name: Test SQLite

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-sqlite:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run tests
        run: |
          docker build --target dumbkv-test -t dumbkv-test .
          docker run --rm dumbkv-test
